@import "enki-design-system/styles/variables";
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
h1 {
  margin-bottom: 0;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 800;
} 
.logout {
  padding: 32px;
  background-color: $lightestGrey;
  text-align: center;
  &--link {
    color: $lightestRed;
  }
}
.header {
  text-align: left;
  height: 56px;
  border-bottom: 1px solid $grey;
  padding: 0 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  &--col {
    display: flex;
    align-items: center;
    img {
      display: block;
      margin-right: 16px;
    }
    &.-right {
      justify-content: flex-end;
    }
  }
}

.info-block {
  padding: 0 16px;
  margin-bottom: 16px;
}
.title-with-icon {
  display: flex;
  align-items: center;

  margin-bottom: 16px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  .icon {
    margin-right: 8px;
  }
}

.affaire {
  list-style: none;
  margin-bottom: 30px;
}
.localisation {
  border-bottom: 1px solid grey;
  padding-bottom: 24px;
  &--details {
    margin-bottom: 12px;
  }
}
.icon-pin, .icon-layers {
  width: 24px;
  height: 24px;
}
.niveauAlerte {
  color: $darkestGrey;
  font-size: 17px;
  display: flex;
  align-items: center;
  font-family: $secondaryFont;
  .icon-notification {
    fill: $darkerGrey;
    margin: 0 2px;
    &.-active {
      fill: $red;
    }
  }
}

.map {
  margin-bottom: 16px;
}
.infosPrincipales {
  padding: 0 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  &--icon {
    margin-right: 16px;
    display: flex;
  }
  &--natureDeFait {
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 1px;
    font-weight: 700;
  }
  &--dateTemps {
    font-size: 17px;
    font-family: $secondaryFont;
    color: $darkestGrey;
  }
}
