<!--This SVG ELEMENT CONTAINS SVG DEFINITION-->
<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg"
xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
    <symbol id="icon-twitter" viewBox="0 0 32 32">
        <title>twitter</title>
        <path d="M32 7.075c-1.175 0.525-2.444 0.875-3.769 1.031 1.356-0.813 2.394-2.1 2.887-3.631-1.269 0.75-2.675 1.3-4.169 1.594-1.2-1.275-2.906-2.069-4.794-2.069-3.625 0-6.563 2.938-6.563 6.563 0 0.512 0.056 1.012 0.169 1.494-5.456-0.275-10.294-2.888-13.531-6.862-0.563 0.969-0.887 2.1-0.887 3.3 0 2.275 1.156 4.287 2.919 5.463-1.075-0.031-2.087-0.331-2.975-0.819 0 0.025 0 0.056 0 0.081 0 3.181 2.263 5.838 5.269 6.437-0.55 0.15-1.131 0.231-1.731 0.231-0.425 0-0.831-0.044-1.237-0.119 0.838 2.606 3.263 4.506 6.131 4.563-2.25 1.762-5.075 2.813-8.156 2.813-0.531 0-1.050-0.031-1.569-0.094 2.913 1.869 6.362 2.95 10.069 2.95 12.075 0 18.681-10.006 18.681-18.681 0-0.287-0.006-0.569-0.019-0.85 1.281-0.919 2.394-2.075 3.275-3.394z"></path>
    </symbol>
    <symbol id="icon-facebook" viewBox="0 0 32 32">
        <title>facebook</title>
        <path d="M29 0h-26c-1.65 0-3 1.35-3 3v26c0 1.65 1.35 3 3 3h13v-14h-4v-4h4v-2c0-3.306 2.694-6 6-6h4v4h-4c-1.1 0-2 0.9-2 2v2h6l-1 4h-5v14h9c1.65 0 3-1.35 3-3v-26c0-1.65-1.35-3-3-3z"></path>
    </symbol>
    <symbol id="icon-instagram" viewBox="0 0 32 32">
        <title>instagram</title>
        <path d="M16 2.881c4.275 0 4.781 0.019 6.462 0.094 1.563 0.069 2.406 0.331 2.969 0.55 0.744 0.288 1.281 0.638 1.837 1.194 0.563 0.563 0.906 1.094 1.2 1.838 0.219 0.563 0.481 1.412 0.55 2.969 0.075 1.688 0.094 2.194 0.094 6.463s-0.019 4.781-0.094 6.463c-0.069 1.563-0.331 2.406-0.55 2.969-0.288 0.744-0.637 1.281-1.194 1.837-0.563 0.563-1.094 0.906-1.837 1.2-0.563 0.219-1.413 0.481-2.969 0.55-1.688 0.075-2.194 0.094-6.463 0.094s-4.781-0.019-6.463-0.094c-1.563-0.069-2.406-0.331-2.969-0.55-0.744-0.288-1.281-0.637-1.838-1.194-0.563-0.563-0.906-1.094-1.2-1.837-0.219-0.563-0.481-1.413-0.55-2.969-0.075-1.688-0.094-2.194-0.094-6.463s0.019-4.781 0.094-6.463c0.069-1.563 0.331-2.406 0.55-2.969 0.288-0.744 0.638-1.281 1.194-1.838 0.563-0.563 1.094-0.906 1.838-1.2 0.563-0.219 1.412-0.481 2.969-0.55 1.681-0.075 2.188-0.094 6.463-0.094zM16 0c-4.344 0-4.887 0.019-6.594 0.094-1.7 0.075-2.869 0.35-3.881 0.744-1.056 0.412-1.95 0.956-2.837 1.85-0.894 0.888-1.438 1.781-1.85 2.831-0.394 1.019-0.669 2.181-0.744 3.881-0.075 1.713-0.094 2.256-0.094 6.6s0.019 4.887 0.094 6.594c0.075 1.7 0.35 2.869 0.744 3.881 0.413 1.056 0.956 1.95 1.85 2.837 0.887 0.887 1.781 1.438 2.831 1.844 1.019 0.394 2.181 0.669 3.881 0.744 1.706 0.075 2.25 0.094 6.594 0.094s4.888-0.019 6.594-0.094c1.7-0.075 2.869-0.35 3.881-0.744 1.050-0.406 1.944-0.956 2.831-1.844s1.438-1.781 1.844-2.831c0.394-1.019 0.669-2.181 0.744-3.881 0.075-1.706 0.094-2.25 0.094-6.594s-0.019-4.887-0.094-6.594c-0.075-1.7-0.35-2.869-0.744-3.881-0.394-1.063-0.938-1.956-1.831-2.844-0.887-0.887-1.781-1.438-2.831-1.844-1.019-0.394-2.181-0.669-3.881-0.744-1.712-0.081-2.256-0.1-6.6-0.1v0zM16 7.781c-4.537 0-8.219 3.681-8.219 8.219s3.681 8.219 8.219 8.219 8.219-3.681 8.219-8.219c0-4.537-3.681-8.219-8.219-8.219zM16 21.331c-2.944 0-5.331-2.387-5.331-5.331s2.387-5.331 5.331-5.331c2.944 0 5.331 2.387 5.331 5.331s-2.387 5.331-5.331 5.331zM26.462 7.456c0 1.060-0.859 1.919-1.919 1.919s-1.919-0.859-1.919-1.919c0-1.060 0.859-1.919 1.919-1.919s1.919 0.859 1.919 1.919z"></path>
    </symbol>
    <symbol id="icon-notification" viewBox="0 0 16 16">
      <title>notification</title>
      <path d="M8 14.6667C8.73333 14.6667 9.33333 14.0667 9.33333 13.3333H6.66667C6.66667 14.0667 7.26 14.6667 8 14.6667ZM12 10.6667V7.33334C12 5.28667 10.9067 3.57334 9 3.12001V2.66667C9 2.11334 8.55333 1.66667 8 1.66667C7.44667 1.66667 7 2.11334 7 2.66667V3.12001C5.08667 3.57334 4 5.28001 4 7.33334V10.6667L2.66667 12V12.6667H13.3333V12L12 10.6667Z"/>
    </symbol>
    <symbol id="icon-pin" viewBox="0 0 24 24">
      <title>pin</title>
      <path d="M12 2C15.87 2 19 5.13 19 9C19 14.25 12 22 12 22C12 22 5 14.25 5 9C5 5.13 8.13 2 12 2ZM12 11.5C13.38 11.5 14.5 10.38 14.5 9C14.5 7.62 13.38 6.5 12 6.5C10.62 6.5 9.5 7.62 9.5 9C9.5 10.38 10.62 11.5 12 11.5Z" fill="#034EA2"/>
    </symbol>
    <symbol id="icon-layers" viewBox="0 0 24 24">
      <title>layers</title>
      <path d="M11.99 18.54L4.62 12.81L3 14.07L12 21.07L21 14.07L19.37 12.8L11.99 18.54ZM12 16L19.36 10.27L21 9L12 2L3 9L4.63 10.27L12 16Z" fill="#034EA2"/>
    </symbol>

</defs>
</svg>
<header class="header">
  <div class="header--col">
    <div class="logo-marianne">
      <img src="../assets/Marianne.jpg" />
    </div>
    <h1>ENKI</h1>
  </div>
  <div class="header--col -right">
    <div class="burger">BURGER</div>
  </div>
</header>
<main>
  <button (click)="loadNewAffaire()">RANDOM AFFAIRE</button>
  <div class="affaire" *ngIf="canSeeEvents()">
    <div class="info-block niveauAlerte">
      Niveau d'alerte : 
      <svg class="icon-notification -active"><use xlink:href="#icon-notification"></use></svg>
      <svg class="icon-notification"><use xlink:href="#icon-notification"></use></svg>
      <svg class="icon-notification"><use xlink:href="#icon-notification"></use></svg>
    </div>
    <div class="info-block infosPrincipales">
      <div class="infosPrincipales--icon">
        <img src="assets/natureDeFaits/accident-de-voiture.png" alt="">
      </div>
      <div>
        <div class="infosPrincipales--natureDeFait">
          {{affaire.natureDeFait}}
        </div>
        <div class="infosPrincipales--dateTemps">
          {{affaire.dateTimeSent}}
        </div>
      </div>
    </div>
    <div class="map">
      <app-map></app-map>
    </div>
    <div class="info-block localisation">
      <div class="title-with-icon localisation--title">
        <svg class="icon icon-pin"><use xlink:href="#icon-pin"></use></svg>
        <div class="">Localisation</div>
      </div>
      <div class="localisation--details">
        <div class="localisation--adresse">
          {{affaire.address}}
        </div>
        <div class="localisation--type">
          Circulation / transport, voie rapide
        </div>
      </div>
      <button class="btn">Copier l'adresse</button>
    </div>
    <div class="info-block circonstances">
      <div class="title-with-icon circonstances--title">
        <svg class="icon icon-layers"><use xlink:href="#icon-layers"></use></svg>
        <div class="">Circonstances</div>
      </div>
      <ul>
        <li>Accident de circulation - 2 roues</li>
        <li>Plusieurs victimes</li>
      </ul>
    </div>
  </div>

  <nav class="logout">
    <a (click)="logout()" class="logout--link">Se déconnecter</a>
  </nav>
</main>
